<%= render partial: 'layouts/navbar' %>
<h1><%= @recipe.title %></h1>

<p>
	<strong>Recipe by:</strong>
	<%= @recipe.author %>
</p>

<p>
	<%= @recipe.category %>
</p>

<!-- <p> -->
	<%#= @recipe.photo %>
<!-- </p> -->

<p>
	<strong><u>Description</u></strong>
	<br />
	<%= @recipe.description %>
</p>

<p>
	<h3><%= @recipe.title %></h3>
</p>

<p>
	<strong><u>Recipe Instructions</u></strong>
	<br />
	<%= @recipe.body %>
</p>
<br />
<br />
<div>
	<%= link_to 'Add to My List', users_path %>
		<br />
	<%= link_to 'Back', recipes_path, class: 'backToRecipes' %>
		<br />
	<%= link_to 'Edit', edit_recipe_path(@recipe) %>
	<%= button_to 'Delete', @recipe, method: :delete %>
</div>