<body class="showPage">
<%= render partial: 'layouts/navbar' %>
<div class="container">
	<h1><%= @recipe.title %></h1>

	<p>
		<strong>Recipe by:</strong>
		<%= @recipe.author %>
	</p>

	<p>
		<h5><%= @recipe.category.name %></h5>
	</p>

	<p>
		<strong><h4>Description: </h4></strong>
		<%= @recipe.description %>
	</p>

	<p>
		<%= image_tag @recipe.image(:medium) %>
	</p>

	<p>
		<h3><%= @recipe.title %></h3>
	</p>

	<div id="ingredients">
		<strong><h4>Recipe Ingredients: </h4></strong>
		<%= @recipe.ingredient %>
		<br />
	</div>

		<br />
	<div id="instructions">
		<p>
			<strong><h4>Recipe Instructions: </h4></strong>
			<%= @recipe.body %>
		</p>
	</div>
</div>
<br />
<br />
<div>
	<%= link_to 'Edit', edit_recipe_path(@recipe) %>
		<br />
	<%= link_to 'Add to My List', users_path %>
		<br />
	<%= link_to 'Back', recipes_path, class: 'backToRecipes' %>
		<br />
	<%= link_to 'Delete', @recipe, method: :delete, data: { confirm: 'This recipe will be deleted forever.  Are you sure you want to delete it?' } %>
	<br />
</div>