<p>
	<h1><%= @recipe.title %></h1>
</p>

<p>
	<strong>Author</strong>
	<%= @recipe.author %>
</p>

<p>
	<strong>Category</strong>
	<%= @recipe.category %>
</p>


<p>
	<strong>Description</strong>
	<%= @recipe.description %>
</p>

<p>
	<h3><%= @recipe.title %></h3>
</p>

<p>
	<strong>Recipe Instructions</strong>
	<%= @recipe.body %>
</p>


<%= button_to 'X', @recipe, {method: "delete"} %>