<%= render partial: 'layouts/navbar' %>
<div class="container">
	<h1><%= @recipe.title %></h1>

	<p>
		<strong>Recipe by:</strong>
		<%= @recipe.author %>
	</p>

	<p>
		<h5><%= @recipe.category %></h5>
	</p>

	<!-- <p> -->
		<%#= @recipe.photo %>
	<!-- </p> -->

	<p>
		<strong><h4>Description: </h4></strong>
		<%= @recipe.description %>
	</p>

	<p>
		<h3><%= @recipe.title %></h3>
	</p>

	<div id="ingredients">
		<strong><h4>Recipe Ingredients: </h4></strong>
		<br />
		<%= @recipe.ingredient %>
		<br />
	</div>

		<br />
		<br />
	<div id="instructions">
		<p>
			<strong><h4>Recipe Instructions: </h4></strong>
			<%= @recipe.body %>
		</p>
	</div>
</div>
<br />
<br />
<div>
	<%= link_to 'Edit', edit_recipe_path(@recipe) %>
		<br />
	<%= link_to 'Add to My List', users_path %>
		<br />
	<%= link_to 'Back', recipes_path, class: 'backToRecipes' %>
		<br />
	<%#= button_to 'Delete', @recipe, method: :delete %>
</div>