<%= render partial: '/layouts/navbar' %>
<h1><%= @recipe.title %></h1>

<p>
	<strong>Recipe by:</strong>
	<%= @recipe.author %>
</p>

<p>
	<%= @recipe.category %>
</p>

<!-- <p> -->
	<%#= @recipe.photo %>
<!-- </p> -->

<p>
	<strong>Description</strong>
	<%= @recipe.description %>
</p>

<p>
	<h3><%= @recipe.title %></h3>
</p>

<p>
	<strong>Recipe Instructions</strong>
	<%= @recipe.body %>
</p>
<br />
<br />
<div>
	<%= link_to 'Add to My List', users_path %>
		<br />
	<%= link_to 'Back', recipes_path, class: 'backToRecipes' %>
	
	
	<%= button_to 'X', @recipe, method: :delete %>
</div>