<div class="createUser" id="newUser">
    <h1>Create your User Profile</h1>
    <%=form_for @user do |f|%>
        	<%=f.text_field :username, :placeholder => "Enter your username"%>
        	<%=f.password_field :password, :placeholder => "Enter password, 6+" %>
        	<%= f.submit "Create A New User" %>
    <% end %>
    <%= link_to 'Home', root_path %>
</div>