
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("strawberries_n_cream.jpg", :class => "img-thumbnail", :alt => "Strawberries 'n Cream") %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item ">
        <%= image_tag("mozarella_and_tomato_salad.jpg", :class => "img-thumbnail", :alt => "Buffalo Mozarella and Tomato Salad")%>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag("mexican_hot_chocolate.jpg", :class => "img-thumbnail", :alt => "Mexican Hot Chocolate") %>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag("fig_basil_goat_cheese_salad.jpg", :class => "img-thumbnail", :alt => "Fig Basil and Goat Cheese Salad")%>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag("whipped_cream_and_strawberries.jpg", :class => "img-thumbnail", :alt =>"Holding a Strawberry with Homemade Whipped Cream" )%>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag("salmon.jpg", :class => "img-thumbnail", :alt =>"Salmon with Basil" )%>
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <%= image_tag("salted_caramel_brownies.jpg", :class => "img-thumbnail", :alt => "Salted Caramel Brownies")%>
        <div class="carousel-caption">
        </div>
      </div>

    <div class="item">
        <%= image_tag("thousand_layer_lasagna.jpg", :class => "img-thumbnail", :alt => "Thousand Layer Lasagna")%>
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" id="carousel" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" id="carousel" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>




