<div class="form-inline" role="form">
	<%=form_for :user, { url: auths_path } do |u|%>

        	<%=u.text_field :username, :class => "form-control", :placeholder => "Enter username"%>

        	<%= u.text_field :email, :class => "form-control", :placeholder =>"Email address" %>

        	<%=u.password_field :password, :class => "form-control", :placeholder => "Enter password, 6+" %>

        	<br />
        	<div class="logIn">
	  			<%= u.submit 'Log in', class: 'btn btn-primary'%>
	  			
	  			<%= link_to 'Create a new User', new_user_path(@recipe) %>
	 		 </div>
    <% end %>
</div>




