<div class="newRecipe">
	<%= form_for @recipe do |f| %>
		<div class="field">
			<%= f.text_field :title, :placeholder => "Recipe Name" %>
		</div>

		<div class="field">
			<%= f.text_field :author, :placeholder => "Recipe By" %>
		</div>

		<div class="categoryDropdown">
			<%= f.select :category, options_for_select(['Category', 'Comfort Food', 'Grazing', 'Salads', 'Desserts']) %>
		</div>

		<div class="field">
			<p class="text-center">
				<%= f.file_field :image %>
			</p>
		</div>

		<div class="field">
			<%= f.text_area :description, :size => "60x12", :placeholder => "Description" %>
		</div>

		<div class="field">
			<%= f.text_area :ingredient, :size => "60x12", :placeholder => "Ingredients" %>
		</div>

		<div class="field">
			<%= f.text_area :body, :size => "60x12", :placeholder => "Recipe Instructions" %>
		</div>

		<div class="actions">
			<%= f.submit "submit" %>
		</div>
	<% end %>
</div>