<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <%= link_to "Spoonly", root_path %>
      </div>
    </div>
<%# if current_user == !nil %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Recipes", recipes_path %></li>
        <li><%= link_to "New", new_recipe_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter By Category<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="divider"></li>
            <li><%= link_to "All", recipes_path %></li>
            <li><%= link_to "Comfort Food", recipes_path(cook: "comfortFood") %></li>
            <li><%= link_to "Grazing", recipes_path(cook: "grazing") %></li>
            <li><%= link_to "Salads", recipes_path(cook: "salads") %></li>
            <li><%= link_to "Desserts", recipes_path(cook: "desserts") %></li>
            <li class="divider"></li>
            <!-- <li><a href="#">One more separated link</a></li> -->
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <%= render :partial => 'layouts/search' %>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#">My List</a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile options <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="divider"></li>
            <li><%= link_to 'My List', users_path %></li>
            <li><%= link_to 'Edit', edit_user_path(current_user) %></li>
            <li><%= link_to 'Log out', new_auth_path, method: 'delete' %></li>
            <li class="divider"></li>
            <!-- <li><%#= link_to 'Delete your account?', new_user_path, method: 'delete', data: {confirm: 'Are you sure?'} %></li> -->
          </ul>
        </li>
        <li><a href="#"> Welcome back, <%= current_user.username %><a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
